[Unit]
Description=IPTV oracli service
After=freeradiusdb.service
Requires=freeradiusdb.service

[Service]
ExecStart=/usr/bin/docker start oracli

[Install]
WantedBy=multi-user.target
